.card {
    border: lightblue 2px solid;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}

.card .card-header {
    background-color: lightblue;
    margin: -5px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}