$primario: rgba(230, 29, 29, 0.933);
$secundario: rgba(83, 83, 83, 0.2);
$primario_texto: #ffffff;

body{
    background-color: $secundario;
}

h1 {
    background-color: $primario;
    color: $primario_texto;
    font-weight: bold;
}

#clientes {
    list-style: none;
    padding: 0;
    li {
        padding: 1rem;
        font-size: 1.4rem;
        background-color: $primario;
        color: $primario_texto;
    
        &:nth-child(2n+1) {
            background-color: $primario_texto;
            color: $primario;
        }
    }
}