html {
    min-height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(-225deg, rgb(47, 98, 240) 0%, rgb(37, 150, 255) 52%, rgb(48, 48, 48) 100%);
    min-height: 100%;
    padding-bottom: 5rem;
  }
  
  .container {
      background-color: #c1bebe;
      border-radius: 5px;
  }
  header {
    margin-top: 3rem;
  }
  header h1 {
    color: white;
  }
  .lista-citas .media {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 3rem;
  }
  
  .lista-citas .media-body p {
    margin:0;
  }
  .lista-citas .media-body button {
    margin-top: 1rem!important;
  }
  .lista-citas .media-body span {
    font-weight: bold;
  }
  textarea {
      height: 200px!important;
  }