body {
    background: #56CCF2; 
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #2F80ED, #56CCF2); 
}
.contenido {
    margin-top: 40px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 34px;
}

form {
    background-color: white;
    padding: 50px;
}

.lista {
    list-style: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #56CCF2; 
    background: rgb(219, 246, 255); 
}
.lista li:last-child{
    margin:0;
}

.card {
    background-color: rgba(255, 255, 255, 0.904);
    border: 2px rgba(182, 182, 182, 0.918) solid;
    border-radius: .26em;
}

.card-header {
    background-color: rgba(182, 182, 182, 0.918);
    margin: 0;
    padding: 5px 5px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.list-group .list-item {
    list-style: none;
    border-bottom: 2px rgba(182, 182, 182, 0.918) solid;
}